* {
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  background-color: #ECECEC;
  font-family: 'Montserrat', sans-serif;
}

.App {
  margin: 10% 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 74px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

@media only screen and (max-width: 980px) { 
  h1 {
      font-size: 30px;
      margin-bottom: 46px;
  }

  h2 {
      font-size: 22px;
  }
}